<section id="artices" class="container">
    <h1 style="font-size:16pt;font-weight:bold;text-align:center">校园章程</h1>
    <h1 style="line-height:32pt; margin:0pt; orphans:0; page-break-after:avoid; page-break-inside:avoid; text-align:center; widows:0">
        <a name="_Toc469908631"></a>
        <a name="_Toc471674959">
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">序</span>
            <span style="-aw-bookmark-end:_Toc469908631"></span>
        </a>
    </h1>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">成都市天府新区华阳幼儿园始建于1952年，是</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">成都市首批优质学前教育集团，“四川省示范性幼儿园”、“成都市示范性幼儿园”、“成都市一级幼儿园”、“成都市园长发展基地幼儿园”。</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">2013年10月划归天府新区社会事业局管理，由“双流县华阳幼儿园”更名为“成都市天府新区华阳幼儿园”。</span>
    </p>
    <h1 style="line-height:32pt; margin:12pt 0pt 0pt; orphans:0; page-break-after:avoid; page-break-inside:avoid; text-align:center; widows:0">
        <a name="_Toc469908632"></a>
        <a name="_Toc471674960">
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">第一章</span>
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">  </span>
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">总则</span>
            <span style="-aw-bookmark-end:_Toc469908632"></span>
        </a>
    </h1>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第1条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">为贯彻国家教育方针，适应幼儿园发展需要，保障幼儿园依法自主管理，保障幼儿与教职工合法权益，全面提高办园品质，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">依据《中华人民共和国教育法》《中华人民共和国教师法》</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">《中华人民共和国未成年人保护法》</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">《中华人民共和国妇女儿童保护法》《幼儿园工作规程》</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">等相关法律法规精神制订本章程。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第2条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园全称：</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; text-decoration:underline">成都市天府新区华阳幼儿园</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">；英文表述为：</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; text-decoration:underline">Huayang Kindergarten of Chengdu Tianfu New Area</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">；幼儿园校址：</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; text-decoration:underline">天府新区华阳街道华阳大道二段189号 </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">；办公电话：</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; text-decoration:underline">028-85625235</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，幼儿园邮政编码：</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; text-decoration:underline">610213 </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">；</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第3条 </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园现有规模为一园四区，包括天府华阳幼儿园（总园）、天府新区华阳幼儿园（西区分园）、天府新区华阳幼儿园（沙河分园）和天府新区华阳幼儿园（香山分园）。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">总园</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">： </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; text-decoration:underline">天府新区华阳街道华阳大道二段189号 </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">；办公电话：</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; text-decoration:underline">028-85625235</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，幼儿园邮政编码：</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; text-decoration:underline">610213 </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">；</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">西区</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">：</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; text-decoration:underline">天府新区华阳街道二江路258号</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">；办公电话：</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; text-decoration:underline">028-85695322</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，幼儿</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">I现有</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">园邮政编码：</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; text-decoration:underline">610213 </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">；</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">东区（沙河分园）</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">：</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; text-decoration:underline">天府新区华阳街道香沙路116号 </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">；办公电话：</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; text-decoration:underline">028-68772829</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，幼儿园邮政编码：</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; text-decoration:underline">610213 </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">；</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">南区（香山分园）</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">：</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; text-decoration:underline">天府新区华阳街道香山小区1栋1号</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">；办公电话：</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; text-decoration:underline">15882443730</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，幼儿园邮政编码：</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; text-decoration:underline">610213 </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">；</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">4</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">本园隶属成都市天府新区成都直管区社会事业局，是全日制公办公益性幼儿园，具有法人资格，独立承担民事责任。幼儿园等级为</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">成都市</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">一级幼儿园。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">5</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园面向社会招生，招生对象为</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">户籍</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">在</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">华阳街道</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">范围内</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">3-6周岁的</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">适龄儿童。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">6</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:normal">幼儿园的</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:normal">办园理念</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:normal">：</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">人本</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">、</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">自主</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">、</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">愉悦 </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">、</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">发展</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">；</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:normal">办园指导思想</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:normal">是</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">教孩子三年 、想孩子一生 </span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">7</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园总体</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">办园目标：</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">发展孩子、服务家长、成就教师</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第8条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:normal"> 幼儿园</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:normal">幼儿发展</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:normal">的</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:normal">目标</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">为</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">健康快乐、自信自主、善于合作</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第9条 </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:normal">幼儿园</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:normal">教师发展目标</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">：专业敬业、协作创新</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">10</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园的教育特色是“家、园、社区三位一体”；幼</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">儿园的德育服务特色是“四心两全三个一”。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <a name="bookmark2">
            <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第</span>
            <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">11</span>
            <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
            <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold"> </span>
            <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园</span>
            <span style="font-family:方正仿宋_GBK; font-size:16pt">园徽</span>
        </a>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <img src="/images/zc.jpeg" width="123" height="104" alt="园徽_副本" style="-aw-left-pos:21.1pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:14.55pt; -aw-wrap-type:square; float:left; margin:0pt 9pt"
        />
        <span style="font-family:方正仿宋_GBK; font-size:16pt">园徽图案中</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">两个指纹分别代表家庭和幼儿园之间的郑重承诺，重叠交融形成一把蘑菇伞，共同呵护伞下的幼苗健康成长；</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">“H”和”Y”是华幼的字母简写，绿色代表生态、生命与幼儿园生态、生命教育主张一致；三色土分别代表家庭、幼儿园、社区共同为幼儿成长提供的养分。园徽意指</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">家庭、幼儿园、社区三位一体，印记宝贝健康成长。</span>
    </p>
    <h1 style="line-height:32pt; margin:12pt 0pt 0pt; orphans:0; page-break-after:avoid; page-break-inside:avoid; text-align:center; widows:0">
        <a name="bookmark5"></a>
        <a name="_Toc469908634"></a>
        <a name="_Toc471674961">
            <span style="-aw-bookmark-end:bookmark2"></span>
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">第</span>
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">二</span>
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">章</span>
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">  </span>
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">治理结构与运行机制</span>
            <span style="-aw-bookmark-end:bookmark5"></span>
            <span style="-aw-bookmark-end:_Toc469908634"></span>
        </a>
    </h1>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第1</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">2</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园实行园长负责制。</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">并</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">根据幼儿园实际需要建立园务委员会、园长办公会、党支部、教职工代表大会、家长委员会等组织，共同组成幼儿园权力机构，实行分权制治理，分别决策相应事项。各治理主体互相制约，防止决策失误或某一方权力过度膨胀。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第1</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">3</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">园长作为幼儿园法定代表人，对外代表幼儿园，按照本章程自主管理幼儿园，全面负责幼儿园的各项工作，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">依法享有下列主要权力</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">1.管理权。实施民主管理，在广泛听取各方面意见的基础上，对幼儿园人事、资产、教育教学、课程、后勤保障等方面享有自主管理的权利。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">2.决策权。在</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">上级主管部门的</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">授权下对幼儿园的重大问题有决策权。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">3.人事权。按照</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">上级主管部门</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">人事聘用相关条例，对幼儿园教职工及中层干部的聘任、聘用、聘任、考核和奖惩享有过程管理的权利。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">4.财</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">政</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">权。幼儿园实行“统一领导、统一管理、一支笔签字”后，交由</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">上级</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">财政核算中心审批支出的财务管理制度。幼儿园的财务活动和校产在园长领导下，由幼儿园专人按照天府新区国资办制度进行管理。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">5.奖惩权。根据上级和幼儿园有关规定，对工作成绩优秀的干部和教职工进行奖励；对在工作中犯有严重错误或出现重大事故的干部和教职工按分管权限进行处罚或提出意见。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">6.法律、法规规定的其他权利。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第1</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">4</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园设立校务委员会，主要由</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">园长、</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">园</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">区主要负责人、教师代表、家长代表、政府代表、社会人士组成。园务委员会由园长主持，负责幼儿园课程建设、教育教学工作、章程</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">及</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">制度的建设、幼儿园发展规划、岗位编制、年度财务预算、重大人事奖惩等工作的决策。</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">园务委员会采取审议制，当无法达成一致意见时，园长具有最终决定权。</span>
    </p>
    <p style="line-height:32pt; margin:0pt 12.85pt 0pt 0pt; text-indent:24pt">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第1</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">5</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> 幼儿园建立健全</span>
        <a name="bookmark6">
            <span style="font-family:方正仿宋_GBK; font-size:16pt">园长办公会制度。园长办公会成员由各园区</span>
            <span style="font-family:方正仿宋_GBK; font-size:16pt">主要负责人</span>
            <span style="font-family:方正仿宋_GBK; font-size:16pt">、党团</span>
            <span style="font-family:方正仿宋_GBK; font-size:16pt">代表</span>
            <span style="font-family:方正仿宋_GBK; font-size:16pt">、工会</span>
            <span style="font-family:方正仿宋_GBK; font-size:16pt">代表组成，会议由园</span>
            <span style="font-family:方正仿宋_GBK; font-size:16pt">长主持，主要对幼儿园</span>
            <span style="background-color:#ffffff; font-family:方正仿宋_GBK; font-size:15pt">重大问题决策、重要干部任免、重大项目投资决策和大额资金进行审议。</span>
        </a>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第1</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">6</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">基层党组织</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">要保障国家的教育方针在幼儿园的贯彻和落实，保证正确的办园方向，加强党组织交涉，领导教职工代表大会和共醉、共青团等群众组织。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第1</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">7</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> 幼儿园实行教职工代表大会制度</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，充分</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">保障教职工参与幼儿园民主管理和进行民主监督。教职工代表大会</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">代表由全体教职工无记名投票选举产生。教职工代表实行常任制，三年改选一次（特殊情况可增补），也可连续胜任。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">教职工代表大会每学期</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">至少</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">召开一次，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">讨论审定幼儿园重大方针政策的民主决策机制。对管理幼儿园发展和教职工权益的重大决策，包幼儿园发展规划、人事聘任方案、工资分配制度、职称推荐方案、重大人事奖惩等，必须经教代会审议通过后方能实施。</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">每次会议</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">采取无记名投票制，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">须有2/3以上教职工（代表）出席</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">且经由到会代表60%以上同意后方能有效。</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">投票结果必须当场公布，任何组织和个人均无权改变教代会通过的方案。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">为防止教代会决策因时间变化及上级政策调整等多种原因带来的失误，特殊情况下园长有权对教代会通过的方案提出暂缓实施的建议，待下一次教代会审议修改后再实施。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">1</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">8</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园遵循民主、公开原则</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，成立园级家委会，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">由班级家长代表组成</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">。</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">园级家长委员会每学期至少召开1次会议。</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">负责沟通幼儿教育、学校管理相关事项。对涉及幼儿教育、生活相关的</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">发展规划教育教学活动管理、食堂管理等工作提出意见和建议，参与民主管理。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">19</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> 幼儿</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">园</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">实行分部分权</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">、</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">相互</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">制衡</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">的管理机制。设立</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">了在</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">园长领导下的“行政部”，“保教部”， “安全部”、“后勤部”、“早教部”、“科研部”、“集团管理部”等职能机构，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">承担相应管理职能，明确管理主体责任和权利，最大限度发挥每一个岗位的领导作用。各部门依据不同的工作特点确定不同的岗位设置，各岗位人员可以动态更替。各部门负责人为该部门最高责任人，赋予该部门管理的最高权力。</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">所有权利均受到相应的制约，各部门应明确相应的制约机制。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第2</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">0</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">本园依法实行信息公开，切实保障教职工、幼儿、社会公众对幼儿园</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">评优选先、人事任免、</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">招生</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">等重大事项、重要制度的知情权、参与权、表达权和监督权。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第2</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">1</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">本园接受政府以及教育、登记管理和审计等管理部门的监督</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">接受社会、家长的监督</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">,</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-style:italic"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">听取社会各界对学校工作的意见和建议。</span>
    </p>
    <h1 style="line-height:32pt; margin:12pt 0pt 0pt; orphans:0; page-break-after:avoid; page-break-inside:avoid; text-align:center; widows:0">
        <a name="_Toc469908635"></a>
        <a name="_Toc471674962">
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">第</span>
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">三</span>
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">章</span>
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">  </span>
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">课程与教育教学管理</span>
            <span style="-aw-bookmark-end:_Toc469908635"></span>
        </a>
    </h1>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第2</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">2</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">依据《幼儿园工作规程》、《3-6岁儿童学习与发展指南》、《幼儿园教育指导纲要（试行）》、《幼儿园教育教学管理制度》开展教育教学工作。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第2</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">3</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园实行分层管理制度，通过“</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">二</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">维</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">三</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">阶”的管理，由保教管理部门全面实施幼儿园的教育教学管理工作。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">1.幼儿园</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">以年级组、项目组两个维度和三个专业发展阶段建立健全各研修团队、教师梯级团队以及相关管理机制。</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">教研组负责本年级全面的教育教学工作，项目组负责学各领域教学的研究以及各专项研究，教师发展梯阶团队负责教师梯阶成长的研修。各团队接受保教管理部门的领导。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">2.幼儿园建立健全名师工作室及其管理制度。幼儿园根据需要设置名教师工作室，充分发挥名师效应，以园本培训、园本教研及专题研究为主要途径，加速建设高素质的教师队伍。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">3.幼儿园各班级实行班长负责制，主要负责本班幼儿发展、教育教学、班务管理、保育卫生、家长、安全等方面工作的推进。班级配班教师和保育教师协助班长做好各项工作。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第2</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">4</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">本园</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">由</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">园长、保教管理部门</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">领衔</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">成立</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">学术委员会</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，负责幼儿园课程建设、课程实施、</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">课程管理</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">和</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">课程评价</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">等工作。</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">以幼儿为本，以游戏为基本活动，遵循幼儿身心发展的规律，通过“自主性体验课程”的实施，支持儿童在实践感知、亲身体验中成长。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第2</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">5</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园积极推进和鼓励教学研究和改革，运用先进的教育理论指导教育教学活动，鼓励开展课题研究，积极推行科研成果及成功经验。</span>
        <span style="font-family:华文中宋; font-size:16pt">&#xa0;</span>
    </p>
    <h1 style="line-height:32pt; margin:12pt 0pt 0pt; orphans:0; page-break-after:avoid; page-break-inside:avoid; text-align:center; widows:0">
        <a name="_Toc469908636"></a>
        <a name="_Toc471674963">
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">第</span>
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">四</span>
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">章</span>
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">  </span>
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">保育保健与安全管理</span>
            <span style="-aw-bookmark-end:_Toc469908636"></span>
        </a>
    </h1>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第2</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">6</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> 幼儿园规范建立保健室，配齐保健人员，为每一位幼儿建立健康档案，定期开展体检工作。建立完善保健管理、卫生消毒与传染病管理制度</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">依照管理制度实施每日定期检查。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第2</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">7</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园建立心理咨询室，建立幼儿心理健康档案。配备专（兼）职心理健康辅导人员全面关注幼儿的身心健康。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">2</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">8</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园建立完善幼儿园安全管理制度。坚持</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">开展</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">安全教育</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">和</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">安全演练，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">加强校舍、交通、消防、饮食卫生、健康、周边环境治安以及教育教学安全管理</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">防范安全事故发生。</span>
    </p>
    <h1 style="line-height:32pt; margin:12pt 0pt 0pt; orphans:0; page-break-after:avoid; page-break-inside:avoid; text-align:center; widows:0">
        <a name="_Toc469908637"></a>
        <a name="_Toc471674964">
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">第</span>
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">五</span>
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">章  幼儿</span>
            <span style="-aw-bookmark-end:_Toc469908637"></span>
        </a>
    </h1>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">29</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿及法定监护人享受以下权利：</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">1.凡被本园录取或转入本园学习的幼儿即取得本园学籍。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">2.幼儿享有受保护的权利、享有受教育的权利、享有发展的权利和参与的权利。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">3.</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园为每位建立幼儿成长档案，对幼儿的学习和生活情况做好真实的记录，对幼儿进行过程性、发展性评价，以教师、家长、幼儿三方共同评价的模式，促进幼儿全面发展。每学期幼儿发展评估结果记入幼儿成长档案。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">4.幼儿园对符合入学条件而家庭经济困难的学生</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-style:italic">,</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">通过助学金等形式提供资助。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第3</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">0</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">为保障幼儿在园期间的合法权益</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园及教职工</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">应当做到</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">以下要求。</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">(1)</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">平等对待每一个幼儿</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">。</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">关注幼儿个体差异</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">因材施教</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">， </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">促进幼儿充分发展。不得歧视幼儿。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">(2）尊重幼儿人格。不得对幼儿实施体罚、变相体罚或者其他侮辱人格尊严的行为</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">严禁用讽刺、威吓等方式给幼儿心理造成伤害。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">(</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">3</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">）</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">尊重幼儿隐私。保护幼儿个人信息</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">未经幼儿监护人同意</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">不得随意使用、披露幼儿个人隐私。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">(</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">4</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">）</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">不得非法收缴幼儿财物。为保护幼儿安全、保障校园秩序</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">可以对幼儿携带的不安全物品进行必要的处理，但应及时与监护人联系。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第3</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">1</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">其</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">法定监护人应当履行以下义务：</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">1.</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> 幼儿园</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">按就近免试入学的原则</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">招收幼儿园</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">服务</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">区内适龄儿童入学</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">实行秋季招生。不属幼儿园服务区内的新生</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，法定监护人需</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">按上级教育行政部门的有关规定办理入学手续。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; text-indent:24pt">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">2.严格执行学籍管理制度，幼儿法定监护人按照学籍管理制度要求为幼儿办理入学、退学、转学等手续。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; text-indent:24pt">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">3.幼儿</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">其</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">法定监护人应当遵守幼儿园的规章制度、尊敬师长，法定监护人还应积极配合教师做好家庭教育工作。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">4.</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园全园使用全国通用的普通话。</span>
    </p>
    <h1 style="line-height:32pt; margin:12pt 0pt 0pt; orphans:0; page-break-after:avoid; page-break-inside:avoid; text-align:center; widows:0">
        <a name="_Toc469908638"></a>
        <a name="_Toc471674965">
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">第</span>
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">六</span>
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">章</span>
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">   </span>
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">教职工</span>
            <span style="-aw-bookmark-end:_Toc469908638"></span>
        </a>
    </h1>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第3</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">2</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">本园教职工由教师、保育员、医务人员、事务人员、炊事员、安保人员和其他工作人员等组成。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第3</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">3</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">本园依法实行幼儿园用人制度，教师、保育员、医务人员等均须具备相应的任职条件。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园聘用教职工</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">公开招聘，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-style:italic"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">竞争上岗</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">对聘用人员实行岗位管理和绩效工资制度。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园实行教职工双向聘任机制，以实现人力资源的优化组合，尽可能让每一位教职工找到适合自己的岗位。园长通过园长办公会、教代会、园务委员会，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">根据编制部门核定的编制数额、岗位数和岗位任职条件及教育行政部门、幼儿园相关规定</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">确定岗位设置及职位数并通过聘任方案。教职工实行双向选择，园长及无相应聘任权的干部不得干预聘任过程和聘任结果。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">新任干部由园长提名、党支部组织考察、民意测评满意度超过80%，园务委员会审议通过，方可聘任</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">新入职教职工的聘任必须严格按照幼儿园招聘方案执行</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">坚持公开、公正</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">的</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">原则</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第3</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">4</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> 本园</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">教职工享有下列权利：</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">1. </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">开展教育教学活动</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">从事教育教学改革和实验；</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">2.</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">参加教育教学科研、学术交流</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">加入专业学术团体</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">在学术活动中充分发表意见；</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">3.</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">关注与</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">指导幼儿学习和发展，指导家长科学育儿。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">4.</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">按时获取工资报酬</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">享受国家规定的福利待遇以及寒暑假的带薪休假；</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">5.</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">通过教职工代表大会或其他形式参与学校管理</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">对学校工作提出意见和建议；对学校重大事项有知情权；对不公正待遇或处分有申诉权；</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">6.</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">使用学校设施设备、图书音像资料及其他教育教学用品；</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">7.</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">参加进修或者其他方式的培训；</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">8.法律法规规定的其他权利。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第3</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">5</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> 本园</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">教职工应当履行下列义务:</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">1.</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">遵守法律法规、职业道德规范、学校章程及规章制度</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">为人师表</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">忠诚于人民教育事业；</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">2.</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">贯彻国家教育方针</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">执行幼儿园工作计划</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">履行教师聘约和岗位职责</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">完成教育教学工作任务；</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">3.</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">弘扬爰心与责任感</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">关心、爰护全体幼儿</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">尊重幼儿人格</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">促进幼儿在体、智、德、美等方面的全面发展；</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">4.</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">制止有害于幼儿的行为或者其他侵犯幼儿合法权利的行为</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">批评和抵制有害于幼儿健康成长的现象；</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">5.</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">践行以幼儿为本理念</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">终身学习</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">与时倶进</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">不断提升育人水平。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">6.全体教职工须向园方提交“师德承诺书”，在工作过程中坚</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">守承诺，绝不触碰师德红线。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">7. 幼儿园全体教职工实行一岗双责，签订 “ 安全承诺书”和“岗位责任认可书”，明确岗位工作职责和安全。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第3</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">6</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园施行专业发展考核和绩效考核双考核制度。考核结果作为续聘或者解聘、奖励或者处分的依据。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园建立教职工是的档案，将师德表现作为教师考核、职务评聘、进修深造和评优先等的首要内容。对于违反师德的教师，实行一票否决制。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第3</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">7</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">本园建立健全教职工的权利保护机制，维护教职工合法权益。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">1.幼儿园坚持按劳分配、按岗取酬、绩优酬高、薪随岗变的分配原则。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">2.聘请具备相应律师资格的人员作为幼儿园的法律顾问，以《华阳幼儿园园规》、《成都市中小学教师职业道德规范》等法律法规规范教师的职业行为，保障幼儿的合法权益；以《中华人民共和国劳动合同法》、《中华人民共和国教师法》</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">等保障教职工的合法权益。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">3.幼儿园建立健全劳动人事争议调解委员会制度。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园建立健全园内申诉制度。分别成立园内家长申诉处理委员会和园内教师申诉处理委员会</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">,</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">明确受理家长和教师申诉的部门和程序。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园建立健全人事争议调解机制。通过劳动</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">（</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">人事</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">）</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">争议调解委员会</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">就教职工与幼儿园的劳动</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">(</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">人事</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">）</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">争议进行调解；通过人事调解委员会</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">就幼儿、教职工、幼儿园间的各种纠纷进行调解。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">4.幼儿园还建立健全人事档案管理制度，全面负责幼儿园人力资源档案的收集、整理和归档，确保教职工的利益。</span>
    </p>
    <h1 style="line-height:32pt; margin:12pt 0pt 0pt; orphans:0; page-break-after:avoid; page-break-inside:avoid; text-align:center; widows:0">
        <a name="_Toc469908639"></a>
        <a name="_Toc471674966">
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">第</span>
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">七</span>
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">章</span>
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">  </span>
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">幼儿园与家庭、社会</span>
            <span style="-aw-bookmark-end:_Toc469908639"></span>
        </a>
    </h1>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">3</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">8</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园主动与社会、家庭联系沟通，加强幼儿园、家庭、社会密切配合，形成“家、园、社区三位一体”的教育特色。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">39</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">建立并完善园级家委会、园级伙委会、班级家委会工作制度。</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">各级家长代表参与园务、班务的民主管理工作，对幼儿园管理工作、食堂管理工作和班级管理工作实行民主监督。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第4</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">0</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">本园成立“蘑菇志愿者”中心一个。</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">中心对所有自愿报名参与的家长志愿者实行注册管理</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">志愿者分组定期或者不定期到园参加</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">志愿者</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">活动。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第4</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">1</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园建立教师与家长的日常联系机制。教师应密切联系家长</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，通过多种方式开展家园互动</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">工作</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">形成家园教育合力</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">促进</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">健康成长。幼儿园还依托家长学校，定期为家长提供家庭教育指导。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第4</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">2</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">加强</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">本园</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">同社区的联系和合作，宣传幼儿教育的知识，支持社区开展有益的文化体育活动。并且</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">充分挖掘和利用社</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">区资源，将幼儿的教育拓展到社区，全方位促进幼儿在生活中学习，在活动中发展。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第4</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">3</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园开展国际交流合作</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，加强与美国、新加坡、丹麦等地区的教育合作。通过培训、引进课程、师生交流互访、合作开展研究等多种方式，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">扩大对外交流</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">拓展教育视野</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">提升办学水平。幼儿园在经费允许的情况下，根据上级主管部门的要求聘请外籍教师</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">、购买国际课程，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">面向世界推进教育理念、教育内容、教育方式的创新优化。</span>
    </p>
    <h1 style="line-height:32pt; margin:12pt 0pt 0pt; orphans:0; page-break-after:avoid; page-break-inside:avoid; text-align:center; widows:0">
        <a name="_Toc469908640"></a>
        <a name="_Toc471674967">
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">第</span>
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">八</span>
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">章</span>
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">  </span>
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">幼儿园资产及财务管理</span>
            <span style="-aw-bookmark-end:_Toc469908640"></span>
        </a>
    </h1>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第4</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">4</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">本园为财政补助执业单位，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园具体经费来源包括</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; text-decoration:underline">财政补助收入</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">和</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; text-decoration:underline">事业收入</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> 等。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第4</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">5</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园建立健全财务管理制度。幼儿园财务活动在园长领导下开展</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">实行民主管理和财务公开。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园执行国家统一的会计制度</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">配备具有专业资格的会计人员与报账人员</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">依法进行会计核算</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">建立健全内部会计监督制度</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">保证会计资料合法、真实、准确、完整。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园建立经费内审小组，负责监督、审核幼儿园各项开支。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园建立竞价小组，负责幼儿园重大项目的采购议价。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园依法向政府部门提出年度预算安排意见</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">经批准后执行</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">并接受上级教育行政部门和财政、税务、审计、监察等相关职能部门的监督。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第4</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">6</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">本园严格执行国家收费政策，规范收费行为，按照财政、物价部门的项目和标准收费，并且按要求对收费项目进行公示。各项收入按照有关规定定期上缴，实行收支两条线管理。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第4</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">7</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园资产受法律保护</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">任何单位、个人不得侵占、私分和挪用。幼儿园建立健全财产、物资管理制度</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">建立账目</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">落实专人管理</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">定期清点</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">及时做好变更、增减手续。对侵占校舍、场地、设施等的行为和侵犯幼儿园名称权及无形资产的行为</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">应积极履行国有资产管理职责</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">依法追究侵权者的责任。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">4</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">8</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">幼儿园依法接受社会各界的捐赠</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-style:italic"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">建立健全受赠财产的使用制度</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">加强对受赠财产的管理并接受社会监督</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">。</span>
    </p>
    <h1 style="line-height:32pt; margin:12pt 0pt 0pt; orphans:0; page-break-after:avoid; page-break-inside:avoid; text-align:center; widows:0">
        <a name="_Toc469908641"></a>
        <a name="_Toc471674968">
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">第</span>
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">九</span>
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">章</span>
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">  </span>
            <span style="font-family:方正黑体_GBK; font-size:16pt; font-weight:bold">附则</span>
            <span style="-aw-bookmark-end:_Toc469908641"></span>
        </a>
    </h1>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">49</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> 本章程经幼儿园教职工代表大会审议通过，报请天府新区成都管委会社会事业局核准后，自公布之日起实施。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第5</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">0</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">本章程未尽事宜按照法律法规及上级规范性文件政策执行</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">5</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">1</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> 幼儿园应保持章程的稳定，但有下列情形之一，幼儿园应立即启动章程修改程序</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">1.</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> 国家相关法律法规修订，本章程与之发生冲突；</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">2.幼儿园发生分立、合并时；</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">3.幼儿园实际事项发生变化，与现行章程不符时；</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">章程的修订由园长办公会或</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">1/3</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">以上教职工代表大会代表提</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">出，经幼儿园教职工（代表）大会审议</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">，</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">园务</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">委员会</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">通过</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">报由</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">天府新区成都管委会社会事业局核准后生效。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">第5</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">2</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt; font-weight:bold">条</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt"> </span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">本章程在教职工代表大会闭会期间由</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">园务委员会</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">负责解释。</span>
    </p>
    <p style="line-height:32pt; margin:0pt; orphans:0; text-align:right; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">成都市天府新区华阳幼儿园</span>
    </p>
    <p style="line-height:32pt; margin:0pt 32pt 0pt 0pt; orphans:0; text-align:right; text-indent:24pt; widows:0">
        <span style="font-family:方正仿宋_GBK; font-size:16pt">201</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">7</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">年</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">2</span>
        <span style="font-family:方正仿宋_GBK; font-size:16pt">月</span>
    </p>
</section>
<section id="contact">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-4">

                <h4 class="title">
                    联系我们
                </h4>

                <h5 class="sub-title">
                    CONTACT US
                </h5>
            </div>
            <div class="col-md-4">

                <p> 地址: {{contact.addr}}</p>
                <p> 邮编: {{contact.postcode}}</p>

            </div>

            <div class="col-md-3">

                <p>邮箱: {{contact.email}}</p>
                <p>电话:
                    <strong>{{contact.tel}}</strong>
                </p>
            </div>

            <div class="col-md-1 pt-3 show-qrcode">
                <a href="javascript:void(0)" class="wechat">
                    <img src="/images/wechat.png">
                </a>
            </div>
        </div>
    </div>
</section>