<section id="artices" class="container" style="text-align:center">
    <h1 style="font-size:16pt;font-weight:bold;text-align:center">校园章程</h1>
    <p style="background-color:#ffffff; margin:0pt">
        <span style="font-family:华文中宋; font-size:12pt">★</span>
        <span style="font-family:华文中宋; font-size:12pt">幼儿园</span>
        <span style="font-family:华文中宋; font-size:12pt">办园理念：人本、自主、愉悦、发展</span>
    </p>
    <p style="background-color:#ffffff; margin:0pt">
        <span style="font-family:华文中宋; font-size:12pt">★</span>
        <span style="font-family:华文中宋; font-size:12pt">幼儿园</span>
        <span style="font-family:华文中宋; font-size:12pt">办园指导思想：教孩子三年</span>
        <span style="font-family:华文中宋; font-size:12pt">  </span>
        <span style="font-family:华文中宋; font-size:12pt">想孩子一生</span>
    </p>
    <p style="background-color:#ffffff; margin:0pt">
        <span style="font-family:华文中宋; font-size:12pt">★</span>
        <span style="font-family:华文中宋; font-size:12pt">幼儿园</span>
        <span style="font-family:华文中宋; font-size:12pt">总体</span>
        <span style="font-family:华文中宋; font-size:12pt">目标：挖掘蘑菇文化、打造蘑菇团队、创生态优质品牌幼儿园</span>
    </p>
    <p style="background-color:#ffffff; margin:0pt">
        <span style="font-family:华文中宋; font-size:12pt">★</span>
        <span style="font-family:华文中宋; font-size:12pt">幼儿园</span>
        <span style="font-family:华文中宋; font-size:12pt">办园</span>
        <span style="font-family:华文中宋; font-size:12pt">目标：发展孩子、服务家长、成就教师</span>
    </p>
    <p style="background-color:#ffffff; margin:0pt">
        <span style="font-family:华文中宋; font-size:12pt">★</span>
        <span style="font-family:华文中宋; font-size:12pt">幼儿发展目标：</span>
        <span style="font-family:华文中宋; font-size:12pt">健康快乐、自信自主、善于合作</span>
    </p>
    <p style="background-color:#ffffff; margin:0pt">
        <span style="font-family:华文中宋; font-size:12pt">★</span>
        <span style="font-family:华文中宋; font-size:12pt">教师发展目标：</span>
        <span style="font-family:华文中宋; font-size:12pt">专业敬业、协作创新</span>
    </p>
    <p style="background-color:#ffffff; margin:0pt">
        <span style="font-family:华文中宋; font-size:12pt">★</span>
        <span style="font-family:华文中宋; font-size:12pt">发展定位：</span>
    </p>
    <p style="background-color:#ffffff; margin:0pt">
        <span style="font-family:Calibri; font-size:12pt">&#xa0;</span>
    </p>
    <p style="background-color:#ffffff; margin:0pt">
        <span style="font-family:华文中宋; font-size:12pt">幼儿成长</span>
        <span style="font-family:Calibri; font-size:12pt">--</span>
        <span style="font-family:华文中宋; font-size:12pt">低束缚</span>
        <span style="font-family:华文中宋; font-size:12pt"> </span>
        <span style="font-family:华文中宋; font-size:12pt">高自由</span>
    </p>
    <p style="background-color:#ffffff; margin:0pt">
        <span style="font-family:华文中宋; font-size:12pt">教师发展</span>
        <span style="font-family:Calibri; font-size:12pt">--</span>
        <span style="font-family:华文中宋; font-size:12pt">低起点</span>
        <span style="font-family:华文中宋; font-size:12pt"> </span>
        <span style="font-family:华文中宋; font-size:12pt">高水平</span>
    </p>
    <p style="background-color:#ffffff; margin:0pt">
        <span style="font-family:华文中宋; font-size:12pt">教学改革</span>
        <span style="font-family:Calibri; font-size:12pt">--</span>
        <span style="font-family:华文中宋; font-size:12pt">低结构</span>
        <span style="font-family:华文中宋; font-size:12pt"> </span>
        <span style="font-family:华文中宋; font-size:12pt">高</span>
        <span style="font-family:华文中宋; font-size:12pt">效果</span>
        <span style="font-family:华文中宋; font-size:12pt"> </span>
    </p>
    <p style="background-color:#ffffff; margin:0pt">
        <span style="font-family:华文中宋; font-size:12pt">家长服务</span>
        <span style="font-family:Calibri; font-size:12pt">--</span>
        <span style="font-family:华文中宋; font-size:12pt">低投入</span>
        <span style="font-family:华文中宋; font-size:12pt"> </span>
        <span style="font-family:华文中宋; font-size:12pt">高回报</span>
    </p>
    <p style="background-color:#ffffff; margin:0pt">
        <span style="font-family:华文中宋; font-size:12pt">幼儿园发展</span>
        <span style="font-family:Calibri; font-size:12pt">--</span>
        <span style="font-family:华文中宋; font-size:12pt">低成本</span>
        <span style="font-family:华文中宋; font-size:12pt"> </span>
        <span style="font-family:华文中宋; font-size:12pt">高品质</span>
    </p>
    <p style="margin:0pt; orphans:0; text-align:center; widows:0">
        <span style="font-family:Calibri; font-size:10.5pt">&#xa0;</span>
    </p>
    <p style="line-height:26pt; margin:0pt 0pt 0pt 18pt; orphans:0; text-align:center; text-indent:-18pt; widows:0">
        <span style="font-family:华文中宋; font-size:12pt">★</span>
        <span style="font:7.0pt 'Times New Roman'">&#xa0;&#xa0;&#xa0; </span>
        <span style="font-family:华文中宋; font-size:12pt">幼儿园</span>
        <span style="font-family:华文中宋; font-size:12pt">四个</span>
        <span style="font-family:华文中宋; font-size:12pt">特色：</span>
    </p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:center; widows:0">
        <span style="font-family:华文中宋; font-size:12pt">德育服务特色</span>
        <span style="font-family:华文中宋; font-size:12pt">：</span>
        <span style="font-family:华文中宋; font-size:12pt">“四心、两全、三个一”</span>
        <span style="font-family:华文中宋; font-size:12pt"> </span>
    </p>
    <p style="background-color:#ffffff; line-height:22pt; margin:0pt; text-align:center">
        <span style="font-family:华文中宋; font-size:12pt">教育特色</span>
        <span style="font-family:华文中宋; font-size:12pt">：“家、园、社区三位一体” </span>
    </p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:center; widows:0">
        <span style="font-family:华文中宋; font-size:12pt">课程特色</span>
        <span style="font-family:华文中宋; font-size:12pt">：</span>
        <span style="font-family:Calibri; font-size:14pt">“</span>
        <span style="font-family:宋体; font-size:14pt">自主性体验课程</span>
        <span style="font-family:Calibri; font-size:14pt">”</span>
        <span style="font-family:宋体; font-size:14pt">框架下的主题教学活动</span>
        <span style="font-family:'Times New Roman'; font-size:14pt">”</span>
    </p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:center; widows:0">
        <span style="font-family:华文中宋; font-size:12pt">队伍培养特色</span>
        <span style="font-family:华文中宋; font-size:12pt">：“分层打造蘑菇团队”</span>
        <span style="font-family:华文中宋; font-size:12pt"> </span>
    </p>
    <p style="margin:0pt; orphans:0; text-align:center; widows:0">
        <span style="font-family:Calibri; font-size:10.5pt">&#xa0;</span>
    </p>
    <p style="background-color:#ffffff; line-height:22pt; margin:0pt; text-align:center">
        <span style="font-family:Arial; font-size:12pt; font-weight:bold">&#xa0;</span>
    </p>
    <p style="background-color:#ffffff; margin:0pt">
        <span style="font-family:黑体; font-size:15pt; font-weight:bold">&#xa0;</span>
    </p>
    <p style="background-color:#ffffff; margin:0pt">
        <span style="font-family:黑体; font-size:15pt; font-weight:bold">&#xa0;</span>
    </p>
    <p style="background-color:#ffffff; margin:0pt">
        <span style="font-family:黑体; font-size:15pt; font-weight:bold">&#xa0;</span>
    </p>
    <p style="background-color:#ffffff; margin:0pt">
        <span style="font-family:华文中宋; font-size:12pt">★</span>
        <span style="font-family:华文中宋; font-size:12pt">幼儿园发展实施途径：专家办园、名师立园、教科研兴园、特色与内涵发展强园、国际化与现代化促进名园品牌提升与内涵发展。</span>
    </p>
    <p style="background-color:#ffffff; margin:0pt">
        <span style="font-family:Calibri; font-size:12pt; font-weight:normal">E</span>
        <span style="font-family:Calibri; font-size:12pt; font-weight:normal">xecution of kindergarten</span>
        <span style="font-family:Calibri; font-size:12pt; font-weight:normal">’</span>
        <span style="font-family:Calibri; font-size:12pt; font-weight:normal">s development: operated by experts, built by famous </span>
    </p>
    <p style="background-color:#ffffff; margin:0pt">
        <span style="font-family:Calibri; font-size:12pt">&#xa0;</span>
    </p>
    <p style="background-color:#ffffff; margin:0pt; text-align:center">
        <img src="images/4bdc2004-ed73-435b-b397-ec62107650a4.001.jpeg" width="554" height="369" alt="C:\Users\mcc\AppData\Local\Microsoft\Windows\INetCache\Content.Word\1.jpg"
            style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" />
    </p>
    <p style="background-color:#ffffff; margin:0pt">
        <span style="font-family:华文中宋; font-size:12pt">★</span>
        <span style="font-family:华文中宋; font-size:12pt">幼儿发展实施途径：在生活中学习，在活动中发展，在探索中创造，在环境中体验，让孩子们自主发展、个性发展。</span>
    </p>
    <p style="margin:0pt; orphans:0; text-align:center; widows:0;">
    <p style="margin:0pt; orphans:0; text-align:center; widows:0; text-align:center">
        <img src="images/4bdc2004-ed73-435b-b397-ec62107650a4.002.jpeg" width="553" height="415" alt="C:\Users\mcc\AppData\Local\Microsoft\Windows\INetCache\Content.Word\2.jpg"
            style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" />
    </p>
    <p style="background-color:#ffffff; margin:0pt 0pt 0pt 18pt; text-indent:-18pt;">
        <span style="font-family:华文中宋; font-size:12pt">★</span>
        <span style="font:7.0pt 'Times New Roman'">&#xa0;&#xa0;&#xa0; </span>
        <span style="font-family:华文中宋; font-size:12pt">家园</span>
        <span style="font-family:华文中宋; font-size:12pt">协作</span>
        <span style="font-family:华文中宋; font-size:12pt">的</span>
        <span style="font-family:华文中宋; font-size:12pt">实施途径：</span>
        <span style="font-family:华文中宋; font-size:12pt">在交流中构建和谐的家园氛围，在合作中构建幼儿健康快乐成长的家园环境，在互帮互助中促进教师和家长的共同发展。</span>
    </p>
    <p style="margin:0pt; orphans:0; text-align:center; widows:0; text-align:center">
        <img class="img-fluid" src="images/4bdc2004-ed73-435b-b397-ec62107650a4.003.jpeg" width="553" height="415" alt="C:\Users\mcc\AppData\Local\Microsoft\Windows\INetCache\Content.Word\3.jpg"
            style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" />
    </p>
</section>