<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>网站正在维护，</title>
    <style type="text/css">
        .text{
            color: red;
            text-align: left;
        }
    </style>
</head>

<body>
    <div class="box">

        <div class="text">
            网站正在维护中...
        </div>
    </div>

</body>

</html>